<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpNn2IwKvMUr4LNaW0zi5Pon9Rs8mon1I</string>
	<key>GCM_SENDER_ID</key>
	<string>120455145541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prmProject</string>
	<key>PROJECT_ID</key>
	<string>the-win-house</string>
	<key>STORAGE_BUCKET</key>
	<string>the-win-house.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120455145541:ios:4e5b29c1a11ab2c33b1b2c</string>
</dict>
</plist>